<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dallxy.ticketService.dao.mapper.OrderItemPassengerDaoMapper">
  <resultMap id="BaseResultMap" type="com.dallxy.orderService.dao.entity.OrderItemPassengerDao">
    <!--@mbg.generated-->
    <!--@Table t_order_item_passenger-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="id_type" jdbcType="INTEGER" property="idType" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_sn, id_type, id_card, create_time, update_time, del_flag
  </sql>
</mapper>