<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dallxy.payService.dao.mapper.RefundMapper">
  <resultMap id="BaseResultMap" type="com.dallxy.payService.dao.entity.Refund">
    <!--@mbg.generated-->
    <!--@Table t_refund-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pay_sn" jdbcType="VARCHAR" property="paySn" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="train_id" jdbcType="BIGINT" property="trainId" />
    <result column="train_number" jdbcType="VARCHAR" property="trainNumber" />
    <result column="riding_date" jdbcType="DATE" property="ridingDate" />
    <result column="departure" jdbcType="VARCHAR" property="departure" />
    <result column="arrival" jdbcType="VARCHAR" property="arrival" />
    <result column="departure_time" jdbcType="TIMESTAMP" property="departureTime" />
    <result column="arrival_time" jdbcType="TIMESTAMP" property="arrivalTime" />
    <result column="seat_type" jdbcType="INTEGER" property="seatType" />
    <result column="id_type" jdbcType="INTEGER" property="idType" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="refund_time" jdbcType="TIMESTAMP" property="refundTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, pay_sn, order_sn, trade_no, amount, user_id, username, train_id, train_number, 
    riding_date, departure, arrival, departure_time, arrival_time, seat_type, id_type, 
    id_card, real_name, `status`, refund_time, create_time, update_time, del_flag
  </sql>
</mapper>